body {
	background-color: black;
}

.wrapper {
	background-color:white;
	margin-top:110px;
	padding-left:100px;
	min-width: 1200px;
	height: 500ox;
	position: relative;
	z-index 1;
}

.ryu {
	width: 695px;
	height: 494px;
}

.ryustill, .ryuready, .ryuthrow, .ryucool {
	width: 659px;
	height: 494px;
}

.ryuready, .ryuthrow, .ryucool {
	display: none;
}

.ryuready {
  background-image: url('../images/ryu-ready-position.gif');}

.ryustill {
  background-image: url('../images/ryu-standing-still.png');
}

.ryuthrowing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}


.hadouken, .ryuready, .ryustill, .ryuthrow {
	background-repeat: no-repeat;
}


